* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  background: #f5eddc;
}

h1 {
  text-align: center;
  margin: 20px;
}

#main {
  display: flex;
  justify-content: space-evenly;
}

#board {
  width: 70vw;
  height: 80vh;
  border: 2px solid #181818;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-image: url("../images/board-bg.jpg");
  background-size: cover;
}

#elevator {
  position: absolute;
  background-image: url("../images/wood.jpg");
  background-size: cover;
}

#player {
  background-image: url("../images/cowboy.png");
  background-size: cover;
  position: absolute;
  z-index: 2;
}

.bullet {
  background-color: #181818;
  position: absolute;
  z-index: 1;
}

.obstacle {
  position: absolute;
  background-image: url("../images/bird.png");
  background-size: cover;
  border-radius: 50%;
  z-index: 0;
}

#intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#points {
  font-size: 26px;
}
